<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    
  </head>
  <body>
      <div class="tc2" >
      
      <h1 class="tc1">
        <ul>
        Terms & conditions
        </ul>
    </h1>
      <p>
        <hr>
        <ol>
        
        1.The User of the TOPJob Portal / website (hereinafter referred to as user) agrees to the following terms and conditions, including any future amendments (hereinafter collectively referred to as the Terms & Conditions) before using the Job Portal / website www.freshtechjobs.com (hereinafter referred to as Job Portal). By using the Job Portal, the Users are giving their consent to be bound by the stipulations as contained under the caption Terms & Conditions below.
Purpose of the TopJob portal:
        </ol>
        <ol>
         2. These Terms and Conditions and the Privacy Policy Statement which are hereby incorporated as if set forth fully herein, represent the complete agreement between you and the Company for the use of and access to the Services and/or other contents of the Job Portal.
        </ol>
        <ol>
          3.The   Topjob portal reserves the right to decline service/registration to any person at any point of time without giving any prior notice. It is clarified that registering with the portal does not guarantee employment.
        </ol>
        <ol>
          4.The User agrees that the services of the job portal, once subscribed to by the User are not refundable and all amount/s paid shall stand appropriated.
        </ol>
        <ol>
          5.Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.
        </ol>
        <ol>
          6.The Topjob portal authorizes the User to view and access the content available on or from the Job Portal solely for their personal use. The contents of the Job Portal and of all other websites, whether partial or otherwise such as text, graphics, images, logos, button icons, software and other contents as well as compilation of contents (i.e. the collection, arrangement and assembly), are property of the job portal . 
        </ol>
        <ol>
          7.The User shall be solely responsible for maintaining the confidentiality of their account and passwords. The User shall be solely responsible for all activities happening under his/her username whether authorized or not. The User agrees to immediately notify the Company of any unauthorized use of his Account and Password
        </ol>
        <ol>
          8.The TOpjob portal reserves the right to modify, suspend, cancel, discontinue or terminate the services of the Job Portal or reject any or all entries/blogs at their absolute discretion without giving any prior notice and without assigning any reason whatsoever to the User and without any liability to the Topjob portal.
        </ol>
     
         
  
     
      </div>
    
    
  </body>
</html>
<app-footer></app-footer>