    <!--<section class="vh-100" style="background-color: #44006b;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <form #jslogform="ngForm" (ngSubmit)="onSubmit(jslogform.value)" >
                  <h1 class="mb-5">Login</h1>
               
                  <div class="form-outline mb-4">
                    <input type="email" id="typeEmailX-2" class="form-control-lg" name= "emailAdress" ngModel placeholder="Enter Email" />
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" id="typePasswordX-2" class="form-control-lg" name="passWord" ngModel placeholder="Enter Password"  />  
                  </div>
      
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                  <a href="jsdash" mat-raised-button color="accent" >SignIn</a>
                  <hr class="my-4">
      
                 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>-->
    <app-navbar></app-navbar>
      <section class="vh-100">
        <h2 style="text-align: center;">JobSeeker Login</h2>
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form #jslogform="ngForm" (ngSubmit)="onSubmit(jslogform.value)">
                
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" class="form-control-lg" name= "Email" ngModel class="form-control form-control-lg"
                    placeholder="Enter a valid email address" required #em="ngModel"
                    [ngClass]="{'is-invalid': (em.touched || em.dirty) && !em.valid }" 
                    />
                    <span class="invalid-feedback">  
                      <span *ngIf="em.hasError('required')">  
                        User email is required.  
                      </span>  
                      <span *ngIf="em.hasError('emailvalidator')">  
                        Please provide a valid email address  
                      </span>  
                    </span>  
                  
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" name="Password" ngModel class="form-control form-control-lg"
                    placeholder="Enter password" required #pV="ngModel"  
                    
                    [ngClass]=  "{'is-invalid': (pV.touched || pV.dirty) && !pV.valid }"
                      />
                      <span class="invalid-feedback">  
                        <span *ngIf="pV.hasError('required')">  
                          Password is required.  
                        </span>  
                      </span>  
                </div>
      
                
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem; margin-left: 130px;">Login</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                  >Signup</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        
         
      </section>
      <app-footer></app-footer>