<app-navbar></app-navbar>
<section class="abtUs">
<h1 class="ab1">About Us</h1>
<div class="ab2">
    TopJob portal are site where you can promote jobs and search for resumes. These are an important part of almost every hiring procedure, and using them efficiently will interpret into qualified candidates for moderately low costs. So, below we have listed some benefits for both recruiters and job seekers for using job portals to find a job and promote job opening for the specific companies.<br><br>
    Job seekers can easily contact an extensive collection of job vacancies through job search engines, at their phase. Away from that, most job portals have filters which help users slight down results. This trait makes it easier for job seekers to decide on a specific career. Equally, online job search sites can help employers pace up their hiring process. It would be easy for recruiters or hiring managers to verify job applications online than physically scan printed resumes. Hence, TopJobs help them save time and endeavour
</div>
</section>
<app-footer></app-footer>