<!--<app-navbar></app-navbar>
<form #sempPost="ngForm" (ngSubmit)="onSubmit(sempPost.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name= "emailAddress" ngModel id="exampleInputEmail1" >
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" type= "password" name="password" ngModel class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Company Name</label>
    <input  class="form-control" type= "text "name= "companyName" ngModel id="exampleInputPassword2">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword3" class="form-label">Name</label>
    <input type="text" name = "name" ngModel class="form-control" id="exampleInputPassword3">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword4" class="form-label">Phone Number</label>
    <input type= "number" name="phoneNumber"ngModel  class="form-control" id="exampleInputPassword4">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword5" class="form-label">Designation</label>
    <input  type= "text" name="designation"ngModel class="form-control" id="exampleInputPassword5">
  </div>
  <button type="Submit">Submit</button>
</form>
<a href="/loginemp" mat-button  >Already a User?Login</a>

<app-footer></app-footer>
<form #sempPost="ngForm" (ngSubmit)="onSubmit(sempPost.value)">
  <input type="text" name = "name" ngModel placeholder="Name"><br>dd
 <input type= "text "name= "companyName" ngModel placeholder="Company Name"><br>d
  <input type= "email"name= "emailAddress" ngModel placeholder="Email Adress"><br>d
 <input type= "password" name="password" ngModel placeholder="Enter Password "><br>d
 <input type= "number" name="phoneNumber"ngModel placeholder="Phone Number"><br>d
 <input type= "text" name="designation"ngModel placeholder="Designation"><br>
 <button type="Submit">Submit</button>
      </form>-->
 <!-- Section: Design Block -->
 <app-navbar></app-navbar>
<section class="background-radial-gradient overflow-hidden">
 

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Search Best <br />
          <span style="color: hsl(218, 81%, 75%)"> Talent With TopJobs</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
        At TopJobs we believe in providing you with a pool of JobSeekers so <br>
        that you can find those which are best for your Buisness. Our team <br>
        works 24*7 to provide employers with best services and support.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form #sempPost="ngForm" (ngSubmit)="onSubmit(sempPost.value)">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input  type="text" name = "name" ngModel class="form-control" placeholder="Name" required
                    #naam="ngModel"  required
                    [ngClass]="{'is-invalid': (naam.touched || naam.dirty) && !naam.valid }"
                    />
                    <span class="invalid-feedback">  
                      <span *ngIf="naam.hasError('required')">  
                        User Name is required.  
                      </span>  
                      <span *ngIf="naam.hasError('emailvalidator')">  
                        Please provide a valid Name
                      </span>  
                    </span>  
                     </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type= "text "name= "companyName" ngModel placeholder="Company Name" class="form-control " required
                    #comnaam="ngModel"  required
                    [ngClass]="{'is-invalid': (comnaam.touched || comnaam.dirty) && !comnaam.valid }"
                    />
                    <span class="invalid-feedback">  
                      <span *ngIf="comnaam.hasError('required')">  
                        Company Name is required.  
                      </span>  
                      <span *ngIf="comnaam.hasError('emailvalidator')">  
                        Please provide a valid companyName
                      </span>  
                    </span> 
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type= "email" name= "emailAddress" ngModel placeholder="Email Address" class="form-control" required
                #userEmailVar="ngModel"  
                [ngClass]="{'is-invalid': (userEmailVar.touched || userEmailVar.dirty) && !userEmailVar.valid }"
                />
                <span class="invalid-feedback">  
                  <span *ngIf="userEmailVar.hasError('required')">  
                    User email is required.  
                  </span>  
                  <span *ngIf="userEmailVar.hasError('emailvalidator')">  
                    Please provide a valid email address  
                  </span>  
                </span>  
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type= "password" name="password" ngModel placeholder="Enter Password" class="form-control" required
                #passwordVar="ngModel"  
                [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }"   
                />
                <span class="invalid-feedback">  
                  <span *ngIf="passwordVar.hasError('required')">  
                    Password is required.  
                  </span>  
                </span>  
              </div>
              <div class="form-outline mb-4">
                <input type= "text" name="phoneNumber"ngModel placeholder="Phone Number" class="form-control" required
                #phnum="ngModel"  required
                [ngClass]="{'is-invalid': (phnum.touched || phnum.dirty) && !phnum.valid }"
                />
                <span class="invalid-feedback">  
                  <span *ngIf="phnum.hasError('required')">  
                    Phone Number is required.  
                  </span>  
                </span> 
              </div>
              <div class="form-outline mb-4">
                <input type= "text" name="designation"ngModel placeholder="Designation" class="form-control" required
                #desig="ngModel"  required
                [ngClass]="{'is-invalid': (desig.touched || desig.dirty) && !desig.valid }"
                />
              </div>
              <span class="invalid-feedback">  
                <span *ngIf="desig.hasError('required')">  
                  Designation is required.  
                </span>  
              </span> 

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>

             <p>Already an User? <a href="/loginemp">Login</a></p>
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- Section: Design Block -->    