<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-icon>terrain</mat-icon>
<span> TopJobs</span>

<div class="spacer">  </div>

<a href="/home" mat-button >Home </a>
<a href="/aboutus" mat-button id="au">About Us</a>
<!--<a href="/app-admin-login" mat-raised-button color="accent" > SignIn as Admin</a>-->
&nbsp;
<a href="/signup" mat-raised-button color="accent" id="one" > JobSeeker</a>
&nbsp;
<a href="/signupemp" mat-raised-button color="accent" id="two" > Employer</a>

</mat-toolbar>
